<%- include ('includes/header')%>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Добро пожаловать!</h1>
        <p class="lead">Мы рады приветствовать Вас на площадке опросов</p>
        <hr class="my-4">
        <p>Нажав кноку "Выбрать опрос" Вы можете перейти к выбору интересующего вас опроса и оставить свой голос</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Выбрать опрос</a>
        </p>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>